@import "tailwindcss";


:root {
  --bg-main: #f8fafc;
  --bg-card: #ffffff;
  --sidebar: #0f172a;
  --primary-teal: #14b8a6;
  --teal-dark: #0d9488;
  --vibrant-blue: #3b82f6;
  --success: #10b981;
  --shadow-neu: 8px 8px 16px #d1d5db, -8px -8px 16px #ffffff;
  --shadow-inner: inset 4px 4px 8px #d1d5db, inset -4px -4px 8px #ffffff;
}

html,
body {
  height: 100%;
}

body {
  background: var(--bg-main);
  color: #1e293b;
  font-family: ui-sans-serif, system-ui;
}


.card-neumorph {
  background: var(--bg-card);
  border-radius: 1rem;
  box-shadow: var(--shadow-neu);
}

.card-inner {
  box-shadow: var(--shadow-inner);
}

.sidebar-active {
  color: white;
  background-color: var(--vibrant-blue);
}
